<div>
    <ul>
        <li>
            <a
                class="flex gap-4 text-zinc-400 hover:text-zinc-600 items-center py-3 px-5 font-medium transition duration-300">
                Shortcut 1
            </a>
        </li>
        <li>
            <a
                class="flex gap-4 text-zinc-400 hover:text-zinc-600 items-center py-3 px-5 font-medium transition duration-300">
                Important thing 2
            </a>
        </li>
        <li>
            <a
                class="flex gap-4 text-zinc-400 hover:text-zinc-600 items-center py-3 px-5 font-medium transition duration-300">
                useful link 3
            </a>
        </li>
    </ul>
</div>